<form (ngSubmit)="onSave()" [formGroup]="formControl">
  <div class="div-input" [ngClass]="checked ? 'checked' : ''">
    <button class="check-button" type="button" (click)="handleToggle()">
      <ng-container *ngIf="checked">
        <mat-icon fontIcon="check"></mat-icon>
      </ng-container>
    </button>
    <input [value]="title" formControlName="title" [disabled]="!editing" [ngClass]="editing ? 'editing' : ''" />
  </div>
  <div>
    <ng-container *ngIf="editing; else defaultIcon">
      <button type="submit">
        <mat-icon fontIcon="save"></mat-icon>
      </button>
    </ng-container>
    <ng-template #defaultIcon>
      <button type="button" (click)="onEdit()">
        <mat-icon fontIcon="edit"></mat-icon>
      </button>
    </ng-template>
    <button type="button" (click)="onDelete()">
      <mat-icon fontIcon="delete"></mat-icon>
    </button>
  </div>
</form>