.text-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-input input {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  background-color: #eee;
  padding-left: 8px;
}

.text-input>div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

button {
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9400D3;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.3;
  cursor: auto;
}