:host {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.list {
  width: 550px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 20px;
}

.exitButton {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  
  display: flex;
  align-items: center;
  gap: 6px;
}

.exitButton label {
  cursor: pointer;
}